<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Edit Option | <%= option.id %></title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function updateOption(id) {
        const token = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");
        const title = document.getElementById("option-title").value;
        const electionId = document.getElementById("electionId").value;
        const questionId = document.getElementById("questionId").value;

        fetch(`/options/${id}`, {
          method: "put",
          headers: { "Content-Type": "application/json", redirect: "follow" },
          body: JSON.stringify({
            title,
            electionId,
            questionId,
            _csrf: token,
          }),
        })
          .then((res) => {
            window.location.href = `/elections/${electionId}/questions/${questionId}/`;
            // window.location.reload();
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>
  <body class="bg-gray-500 font-mono">
    <%- include('header.ejs', {title:"Online Voting Platform"})%>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2 py-10">
        <div class="mt-5">
          <a href="/elections/<%= election.id %>"
            ><h2 class="text-2xl font-black">
              <%= election.electionName %>
            </h2></a
          >
        </div>
        <div class="mt-5">
          <h3 class="text-xl font-black"><%=question.title%></h3>
          <span class="text-sm font-normal"><%=question.description%></span>
        </div>

        <div class="py-3">
          <label for="title">Option</label>
          <input
            id="option-title"
            name="title"
            type="text"
            class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
            autofocus
            placeholder="Edit the option title"
            value="<%= option.title %>"
          />
        </div>
        <input
          type="hidden"
          id="questionId"
          name="questionId"
          value="<%= question.id %>"
        />
        <input
          type="hidden"
          id="electionId"
          name="electionId"
          value="<%= election.id %>"
        />
        <div class="py-3">
          <button
            onclick="updateOption(<%= option.id %>)"
            type="submit"
            class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
