<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= election.electionName %></title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function deleteQuestion(id) {
        fetch(`/questions/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({}),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs', {title:"Online Voting Platform"})%>
        <div class="flex space-x-3">
          <span
            class="animate-ping absolute h-2.5 w-2.5 mt-2 p-2 rounded-full bg-red-600 opacity-100"
          ></span>
          <h3 class="ml-2 text-xl font-semibold ">Election is Live</h3>
          <div class="">
            <a href="/elections/<%= election.id %>/vote/"
              ><button
                class="bg-purple-600 text-white px-5 py-1.5 rounded font-medium ml-2"
              >
                Public Link
              </button></a
            >
          </div>
        </div>
        <div class="mt-5 space-x-3 flex">
          <a href="/elections"
            ><h2 class="text-2xl font-black">
              <%= election.electionName %>
            </h2></a
          >
          <% if(election.status == null ) {%>
          <div class="">
            <a href="/elections/<%= election.id %>/preview/"
              ><button
                class="bg-purple-600 text-white px-5 py-1.5 rounded font-medium mr-2"
              >
                Preview
              </button></a
            >
          </div>
          <div class="">
            <form action="/elections/start" method="post">
              <input type="hidden" name="status" value="true" />
              <input type="hidden" name="id" value="<%=election.id%>" />
              <button
                class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
              >
                Launch
              </button>
            </form>
          </div>
          <%} else {%>

            <div class="">
              <form action="/elections/start" method="post">
                <input type="hidden" name="status" value="true" />
                <input type="hidden" name="id" value="<%=election.id%>" />
                <button
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
                >
                  Result
                </button>
              </form>
            </div>
            <div class="">
              <form action="/elections/end" method="post">
                <input type="hidden" name="status" value="false" />
                <input type="hidden" name="id" value="<%=election.id%>" />
                <button
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
                >
                  End
                </button>
              </form>
            </div>
          <% } %>
        </div>
        <div class="flex mt-5">
          <% if(election.status == null) { %>
          <form action="/questions" method="post">
            <div class="flex gap-2">
              <div class="flex-auto">
                <label class="mr-14" for="title">Title</label>
                <input
                  name="title"
                  type="text"
                  placeholder="Type your question here!"
                  class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
                  autofocus
                  required
                />
              </div>
              <div class="flex-auto">
                <label class="mr-14" for="description">Description</label>
                <input
                  name="description"
                  type="text"
                  placeholder="Type your description here"
                  class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
                />
              </div>
              <input
                type="hidden"
                name="electionId"
                value="<%= election.id %>"
              />
              <div class="flex-auto mt-6">
                <button
                  type="submit"
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
          <% } %>
        </div>
        <% if(questions.length === 0) { %>
        <p class="mt-5">You haven't added any questions</p>
        <%} else {%>
        <div><h2 class="mr-2 mt-5 text-xl font-black">Questions</h2></div>
        <ul class="list-none">
          <% for(let i = 0; i < questions.length; i++) { %>
          <li class="question-Item">
            <div
              class="flex w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50"
            >
              <% if(election.status == null) {%>
              <a
                href="/elections/<%= election.id %>/questions/<%= questions[i].id%>"
              >
                <label
                  title="<%=questions[i].description%>"
                  for="question-checkbox-<%= questions[i].id %>"
                  class="ml-2 text-sm text-gray-600 cursor-pointer"
                  ><%= questions[i].title %></label
                >
              </a>

              <a
                href="/elections/<%= election.id %>/questions/<%= questions[i].id%>/edit"
                class="block ml-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 25 25"
                  stroke-width="1.3"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                  />
                </svg>
              </a>
              <a
                href="#"
                class="trash-icon ml-2"
                onclick="deleteQuestion(<%=questions[i].id%>)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.3"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </a>
              <button onclick="openForm(<%= questions[i].id%>)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.3"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
              </button>
              <% } else {%>
              <label
                title="<%=questions[i].description%>"
                for="question-checkbox-<%= questions[i].id %>"
                class="ml-2 text-sm text-gray-600 cursor-pointer"
                ><%= questions[i].title %></label
              >
              <% } %>
              <div
                class="form-popup z-9 hidden"
                id="optionForm-<%= questions[i].id %>"
              >
                <form action="/options" method="post">
                  <div class="flex space-x-4">
                    <div class="">
                      <input
                        name="title"
                        type="text"
                        class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
                        autofocus
                        placeholder="<%=questions[i].description%>"
                      />
                    </div>
                    <input
                      type="hidden"
                      name="questionId"
                      value="<%= questions[i].id %>"
                    />
                    <input
                      type="hidden"
                      name="electionId"
                      value="<%= election.id %>"
                    />
                    <button
                      type="submit"
                      class="bg-green-600 text-white font-medium rounded text-sm h-10 p-3 rounded"
                    >
                      Add
                    </button>
                    <button
                      type="button"
                      class="bg-red-600 text-white font-medium rounded text-sm h-10 p-3 rounded"
                      onclick="closeForm(<%= questions[i].id%>)"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
        <%}%>
        <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700" />
        <div class="flex mt-5">
          <form action="/voters" method="post">
            <div class="flex gap-2">
              <div class="flex-auto">
                <label class="mr-14" for="title">VoterID</label>
                <input
                  name="voterId"
                  type="text"
                  placeholder="Type your Voter ID here!"
                  class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
                  autofocus
                  required
                />
              </div>
              <div class="flex-auto">
                <label class="mr-14" for="password">password</label>
                <input
                  name="password"
                  type="password"
                  placeholder="*******"
                  class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
                  required
                />
              </div>
              <input
                type="hidden"
                name="electionId"
                value="<%= election.id %>"
              />
              <div class="flex-auto mt-6">
                <button
                  type="submit"
                  class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="mt-5">
          <% if(voters.length === 0) { %>
          <p class="mt-5">You haven't added any voters</p>
          <%} else {%>
          <h3 class="text-xl font-black">Voters</h3>
          <ul>
            <% for(let i = 0; i < voters.length; i++ ) {%>
            <li>
              <div
                class="flex w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50"
              >
                <span class="ml-2 text-sm text-black-800 cursor-pointer"
                  ><%= voters[i].voterId %></span
                >
                <a href="" class="block ml-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 25 25"
                    stroke-width="1.3"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    />
                  </svg>
                </a>

                <a
                  href="#"
                  class="trash-icon ml-2"
                  onclick="deleteOption(<%=voters[i].id%>)"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 26 26"
                    stroke-width="1.3"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </a>
              </div>
            </li>
            <%}%>
          </ul>
          <%}%>
        </div>
      </div>
    </div>
    <script>
      function openForm(id) {
        document.getElementById(`optionForm-${id}`).style.display = "block";
      }

      function closeForm(id) {
        document.getElementById(`optionForm-${id}`).style.display = "none";
      }
    </script>
  </body>
</html>
