<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= election.electionName%> | Preview</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-500 font-mono">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-3 py-10">
        <div class="flex-auto">
          <h1 class="text-3xl font-semibold text-gray-600">
            Online Voting Platform
          </h1>
          <div class="mt-5">
            <h2 class="text-2xl font-extrabold">
              <%= election.electionName %>
            </h2>
          </div>
          <%if(voter.voted === false && election.status === true) {%>
          <form action="/elections/<%= election.id %>/vote" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <ul class="list-none">
              <% for(let i = 0; i < questions.length; i++) { %>
              <li class="question-Item">
                <div
                  class="w-fit my-2 px-2 py-1 items-center rounded hover:bg-purple-50"
                >
                  <div class="mt-5">
                    <p class="text-xl font-bold">
                      <%= i + 1%>. <%=questions[i].title%>
                    </p>
                    <span class="text-sm font-normal"
                      ><%=questions[i].description%> ?</span
                    >
                  </div>
                  <ul class="list-none">
                    <% for(let j = 0; j < options[`${i}`].length; j++) { %>
                    <li class="option-Item">
                      <div
                        class="flex w-fit px-2 items-center rounded hover:bg-purple-50"
                      >
                        <div class="mt-2">
                          <input
                            type="radio"
                            name="<%=questions[i].id%>"
                            id="<%=options[`${i}`][j].id%>"
                            value="<%=options[`${i}`][j].id%>"
                            required
                          />
                          <label
                            for="<%=options[`${i}`][j].id%>"
                            class="text-sm font-medium"
                            ><%=options[`${i}`][j].title%></label
                          >
                        </div>
                      </div>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </li>
              <% } %>
            </ul>
            <button
              type="submit"
              class="ml-20 mt-4 text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2"
            >
              Vote
            </button>
          </form>
          <%} else {%>
          <p>Thank You! Your vote has been saved.</p>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
